html
  head
    title='Docker imtechinc'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 INNOMINDS BUSINESS TECHNOLOGIES PVT. LTD. | Hyderabad!!!
        p Address: P No: 1-90/7/B/29&181, V R Sunshine, 3rd Floor, Block-302, Hi-Tech City, Madhapur, Hyderabad, Telangana 500081!!
        p 
